<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
</head>
<body>

    <h1>로그인</h1>
    <form action="/login" method="POST">
        <p>Name<input type="text" name="Name"></p>
        <p>Password<input type="text" name="Password"></p>
        <p><input type="submit" value="submit"></p>
    </form>
    
    {# <h1>Bind string: {{ home_str }}</h1>
    {% include "desc.html" %}
    <p>Bind list value: {{ home_list[2:4] }}</p>
    <ul>
        {% for idx in home_list %}
        <li>{{ idx }}</li>
        {% endfor %}
    </ul> #}

</body>
</html>

